<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetShop"
        tools:targetApi="31">
        <activity
            android:name=".JobRequestListview"
            android:exported="false" />
        <activity
            android:name=".jobRequests"
            android:exported="false" />
        <activity
            android:name=".caregiverInfo"
            android:exported="false" />
        <activity
            android:name=".CaregiverLogin"
            android:exported="false" />
        <activity
            android:name=".Caregiver_Menu"
            android:exported="false" />
        <activity
            android:name=".Bill"
            android:exported="false" />
        <activity
            android:name=".PetCare"
            android:exported="false" />
        <activity
            android:name=".Rate"
            android:exported="false" />
        <activity
            android:name=".pricingPlan"
            android:exported="false" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".Caregiver_View"
            android:exported="false" />
        <activity
            android:name=".View_Pets"
            android:exported="false" />
        <activity
            android:name=".Customer_Info"
            android:exported="false" />
        <activity
            android:name=".petInfo"
            android:exported="false" />
        <activity
            android:name=".Caregiver_Register"
            android:exported="false" />
        <activity
            android:name=".Add_admin"
            android:exported="false" />
        <activity
            android:name=".Home_page"
            android:exported="false" />
        <activity
            android:name=".login_activity"
            android:exported="false" />
        <activity
            android:name=".register_activity"
            android:exported="false" />
        <activity
            android:name=".Edit_Pet"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>